.app{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: yellow;
}
.app__body{
    display: flex;
    width: inherit;
    justify-content: flex-start;
    background-color: green;
}
